$whiteColor: #FFFFFF;
$commonBackgroundColor: #070724;
$commonBorderColor: rgba(255, 255, 255, 0.2);
$buttonHoverColor: #38384F;
$commonGray: #838391;
$mercury: #419EBB;
$venus: #EDA249;
$earth: #6F2ED6;
$mars: #D14C32;
$jupiter: #D83A34;
$saturn: #CD5120;
$uranus: #1EC2A4;
$neptune: #2D68F0; 