.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid $commonBorderColor;
    padding: 2rem 0;
    .title{
        padding: 0 2rem;
    }
    .planet-header-container{
        padding: 0 2rem;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        .planet-header-item{
            cursor: pointer;
            &:hover{
                &.mercury{
                    &::before{
                        content: '';
    
                    }
                  }
                  &.venus{
                      &::before{
                          content: '';
    
                      }
                  }
                  &.earth{
                      &::before{
                          content: '';
    
                      }
                  }
                  &.mars{
                      &::before{
                          content: '';
    
                      }
                  }
                  &.jupiter{
                      &::before{
                          content: '';
    
                      }
                  }
                  &.saturn{
                      &::before{
                          content: '';
    
                      }
                  }
                  &.uranus{
                      &::before{
                          content: '';
    
                      }
                  }
                  &.neptune{
                      &::before{
                          content: '';
    
                      }
                  }
            }
        }
    }
}